In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv('Churn.xls')
data

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
data['MultipleLines'].value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

In [6]:
data['InternetService'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [7]:
data2 = data.copy()

In [8]:
attributes= ['gender','Partner','Dependents','PhoneService','MultipleLines','InternetService',
             'OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract',
             'PaperlessBilling','PaymentMethod','Churn']
data_cat = data[attributes]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
data_encoder = ordinal_encoder.fit_transform(data_cat)
data2[attributes] = data_encoder

In [9]:
data2

      customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges  Churn
0     7590-VHVEG     0.0              0  ...           29.85         29.85    0.0
1     5575-GNVDE     1.0              0  ...           56.95        1889.5    0.0
2     3668-QPYBK     1.0              0  ...           53.85        108.15    1.0
3     7795-CFOCW     1.0              0  ...           42.30       1840.75    0.0
4     9237-HQITU     0.0              0  ...           70.70        151.65    1.0
...          ...     ...            ...  ...             ...           ...    ...
7038  6840-RESVB     1.0              0  ...           84.80        1990.5    0.0
7039  2234-XADUH     0.0              0  ...          103.20        7362.9    0.0
7040  4801-JZAZL     0.0              0  ...           29.60        346.45    0.0
7041  8361-LTMKD     1.0              1  ...           74.40         306.6    1.0
7042  3186-AJIEK     1.0              0  ...          105.65        6844.5    0.0

[7043 rows x 21 columns]

In [10]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   float64
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   float64
 4   Dependents        7043 non-null   float64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   float64
 7   MultipleLines     7043 non-null   float64
 8   InternetService   7043 non-null   float64
 9   OnlineSecurity    7043 non-null   float64
 10  OnlineBackup      7043 non-null   float64
 11  DeviceProtection  7043 non-null   float64
 12  TechSupport       7043 non-null   float64
 13  StreamingTV       7043 non-null   float64
 14  StreamingMovies   7043 non-null   float64
 15  Contract          7043 non-null   float64
 16  PaperlessBilling  7043 non-null   float64
 17  PaymentMethod     7043 non-null   float64
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   float64
dtypes: float64(17), int64(2), object(2)
memory usage: 1.1+ MB

In [15]:
data2['TotalCharges'].astype(np.int)

ValueError: ignored

In [16]:
for i in range(len(data2['TotalCharges'])):
  if data2['TotalCharges'][i] == ' ':
    data2['TotalCharges'][i] = 0
  else :
     data2['TotalCharges'][i] = float(data2['TotalCharges'][i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
data2['TotalCharges'].dtype

dtype('O')

In [18]:
data2['TotalCharges'].mean()

2279.734303563826

In [19]:
data_Total = data2['TotalCharges'].sort_values()

In [20]:
findzero = np.where(data2['TotalCharges'] == 0)
findzero = np.array(findzero)
findzero[0] - 1

array([ 487,  752,  935, 1081, 1339, 3330, 3825, 4379, 5217, 6669, 6753])

In [21]:
a = np.array(data2['TotalCharges'][findzero[0] - 1])
b = np.array(data2['TotalCharges'][findzero[0] + 1])
sum = (a + b) / 2
sum

array([3138.15, 353.125, 371.275, 2368.0249999999996, 3651.35, 2479.8,
       533.25, 5245.075000000001, 145.375, 4794.725, 3564.4], dtype=object)

In [22]:
data2['TotalCharges'][findzero[0]] = sum

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [23]:
data2['TotalCharges'].mean()

2283.517428652566

In [24]:
data_corr = data2.corr()
data_corr

                    gender  SeniorCitizen  ...  MonthlyCharges     Churn
gender            1.000000      -0.001874  ...       -0.014569 -0.008612
SeniorCitizen    -0.001874       1.000000  ...        0.220173  0.150889
Partner          -0.001808       0.016479  ...        0.096848 -0.150448
Dependents        0.010517      -0.211185  ...       -0.113890 -0.164221
tenure            0.005106       0.016567  ...        0.247900 -0.352229
PhoneService     -0.006488       0.008576  ...        0.247398  0.011942
MultipleLines    -0.006739       0.146185  ...        0.433576  0.038037
InternetService  -0.000863      -0.032310  ...       -0.323260 -0.047291
OnlineSecurity   -0.015017      -0.128221  ...       -0.053878 -0.289309
OnlineBackup     -0.012057      -0.013632  ...        0.119777 -0.195525
DeviceProtection  0.000549      -0.021398  ...        0.163652 -0.178134
TechSupport      -0.006825      -0.151268  ...       -0.008682 -0.282492
StreamingTV      -0.006421       0.030776  ...        0.336706 -0.036581
StreamingMovies  -0.008743       0.047266  ...        0.335459 -0.038492
Contract          0.000126      -0.142554  ...       -0.074195 -0.396713
PaperlessBilling -0.011754       0.156530  ...        0.352150  0.191825
PaymentMethod     0.017352      -0.038551  ...       -0.193407  0.107062
MonthlyCharges   -0.014569       0.220173  ...        1.000000  0.193356
Churn            -0.008612       0.150889  ...        0.193356  1.000000

[19 rows x 19 columns]

In [25]:
data_corr['Churn'].sort_values()

Contract           -0.396713
tenure             -0.352229
OnlineSecurity     -0.289309
TechSupport        -0.282492
OnlineBackup       -0.195525
DeviceProtection   -0.178134
Dependents         -0.164221
Partner            -0.150448
InternetService    -0.047291
StreamingMovies    -0.038492
StreamingTV        -0.036581
gender             -0.008612
PhoneService        0.011942
MultipleLines       0.038037
PaymentMethod       0.107062
SeniorCitizen       0.150889
PaperlessBilling    0.191825
MonthlyCharges      0.193356
Churn               1.000000
Name: Churn, dtype: float64

In [27]:
cor_attribute=['Partner','Dependents','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','Contract','PaperlessBilling','PaymentMethod','Churn']

In [28]:
real_data = data2[cor_attribute].copy()
real_data

      Partner  Dependents  ...  PaymentMethod  Churn
0         1.0         0.0  ...            2.0    0.0
1         0.0         0.0  ...            3.0    0.0
2         0.0         0.0  ...            3.0    1.0
3         0.0         0.0  ...            0.0    0.0
4         0.0         0.0  ...            2.0    1.0
...       ...         ...  ...            ...    ...
7038      1.0         1.0  ...            3.0    0.0
7039      1.0         1.0  ...            1.0    0.0
7040      1.0         1.0  ...            2.0    0.0
7041      1.0         0.0  ...            3.0    1.0
7042      0.0         0.0  ...            0.0    0.0

[7043 rows x 11 columns]

In [29]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(real_data, test_size = 0.2)

train_y = train_set['Churn']
del train_set['Churn']

test_y = test_set['Churn']
del test_set['Churn']

In [34]:
train_set.shape

(5634, 10)

In [33]:
train_y.shape

(5634, 1)

In [32]:
train_set = np.array(train_set).astype(np.float32)
train_y = np.array(train_y).astype(np.float32).reshape(len(train_y),1)
test_set = np.array(test_set).astype(np.float32)
test_y = np.array(test_y).astype(np.float32).reshape(len(test_y),1)

In [35]:
!pip install tensorflow==1.8.0

Collecting tensorflow==1.8.0
  Downloading https://files.pythonhosted.org/packages/22/c6/d08f7c549330c2acc1b18b5c1f0f8d9d2af92f54d56861f331f372731671/tensorflow-1.8.0-cp36-cp36m-manylinux1_x86_64.whl (49.1MB)
     |████████████████████████████████| 49.1MB 84kB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (1.18.5)
Requirement already satisfied: protobuf>=3.4.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (3.12.4)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (0.8.1)
Collecting tensorboard<1.9.0,>=1.8.0
  Downloading https://files.pythonhosted.org/packages/59/a6/0ae6092b7542cfedba6b2a1c9b8dceaf278238c39484f3ba03b03f07803c/tensorboard-1.8.0-py3-none-any.whl (3.1MB)
     |████████████████████████████████| 3.1MB 41.8MB/s
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (1.1.0)
Requirement already satisfied: absl-py>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (0.10.0)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (0.3.3)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (1.32.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (1.15.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.8.0) (0.35.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.4.0->tensorflow==1.8.0) (50.3.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow==1.8.0) (3.2.2)
Collecting bleach==1.5.0
  Downloading https://files.pythonhosted.org/packages/33/70/86c5fec937ea4964184d4d6c4f0b9551564f821e1c3575907639036d9b90/bleach-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: werkzeug>=0.11.10 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.9.0,>=1.8.0->tensorflow==1.8.0) (1.0.1)
Collecting html5lib==0.9999999
  Downloading https://files.pythonhosted.org/packages/ae/ae/bcb60402c60932b32dfaf19bb53870b29eda2cd17551ba5639219fb5ebf9/html5lib-0.9999999.tar.gz (889kB)
     |████████████████████████████████| 890kB 44.4MB/s
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<1.9.0,>=1.8.0->tensorflow==1.8.0) (2.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<1.9.0,>=1.8.0->tensorflow==1.8.0) (3.2.0)
Building wheels for collected packages: html5lib
  Building wheel for html5lib (setup.py) ... done
  Created wheel for html5lib: filename=html5lib-0.9999999-cp36-none-any.whl size=107220 sha256=8ea0f4c0fe96f322d28fff93edfdf985169821917612dacb4465ec9fb4b345a5
  Stored in directory: /root/.cache/pip/wheels/50/ae/f9/d2b189788efcf61d1ee0e36045476735c838898eef1cad6e29
Successfully built html5lib
Installing collected packages: html5lib, bleach, tensorboard, tensorflow
  Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Found existing installation: bleach 3.2.1
    Uninstalling bleach-3.2.1:
      Successfully uninstalled bleach-3.2.1
  Found existing installation: tensorboard 2.3.0
    Uninstalling tensorboard-2.3.0:
      Successfully uninstalled tensorboard-2.3.0
  Found existing installation: tensorflow 2.3.0
    Uninstalling tensorflow-2.3.0:
      Successfully uninstalled tensorflow-2.3.0
Successfully installed bleach-1.5.0 html5lib-0.9999999 tensorboard-1.8.0 tensorflow-1.8.0

In [36]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder()
train_y = cat_encoder.fit_transform(train_y)

In [37]:
train_y = train_y.toarray()

In [38]:
train_y.shape

(5634, 2)

In [40]:
test_y = cat_encoder.fit_transform(test_y)

In [41]:
test_y = test_y.toarray()

In [42]:
test_y.shape

(1409, 2)

In [66]:
import tensorflow as tf

X = tf.placeholder(tf.float32,shape=[None,10])
Y = tf.placeholder(tf.float32,shape=[None,2])

L1 = tf.Variable(tf.random_normal([10,32],stddev=0.01))
W1 = tf.nn.relu(tf.matmul(X,L1))

L2 = tf.Variable(tf.random_normal([32,32],stddev=0.01))
W2 = tf.nn.relu(tf.matmul(W1,L2))

L3 = tf.Variable(tf.random_normal([32,64],stddev=0.01))
W3 = tf.nn.relu(tf.matmul(W2,L3))

L4 = tf.Variable(tf.random_normal([64,32],stddev=0.01))
W4 = tf.nn.relu(tf.matmul(W3,L4))

L5 = tf.Variable(tf.random_normal([32,32],stddev=0.01))
W5 = tf.nn.relu(tf.matmul(W4,L5))

L6 = tf.Variable(tf.random_normal([32,2],stddev=0.01))
model = tf.matmul(W5,L6)

In [67]:
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits_v2(logits=model, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=0.001).minimize(cost)

In [68]:
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)
for step in range(10000):
    _, cost_val = sess.run([optimizer, cost], feed_dict={X: train_set, Y: train_y})
    if step % 500 == 0:
      print(step, "Cost: ", cost_val)

print('최적화 완료!')

0 Cost:  0.6931459
500 Cost:  0.41675436
1000 Cost:  0.40465766
1500 Cost:  0.3978783
2000 Cost:  0.3941653
2500 Cost:  0.3935517
3000 Cost:  0.3880614
3500 Cost:  0.38769448
4000 Cost:  0.38417745
4500 Cost:  0.39278516
5000 Cost:  0.38079065
5500 Cost:  0.37923542
6000 Cost:  0.37801072
6500 Cost:  0.3767038
7000 Cost:  0.40052336
7500 Cost:  0.37784275
8000 Cost:  0.3834663
8500 Cost:  0.38714182
9000 Cost:  0.37202743
9500 Cost:  0.36987966
최적화 완료!

In [69]:
is_correct = tf.equal(tf.argmax(model, 1), tf.argmax(Y, 1))
accuracy = tf.reduce_mean(tf.cast(is_correct, tf.float32))
print('정확도:', sess.run(accuracy,
                        feed_dict={X: train_set,
                                   Y: train_y}))
sess.close()

정확도: 0.8200213